{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{% if is_editing %}Modifier{% else %}Créer{% endif %} une Fiche de Poste{% endblock %}


{% block content %}
<div class="container my-5">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="card-title h3 mb-4">{% if is_editing %}Modifier la fiche de poste{% else %}Créer une nouvelle fiche de poste{% endif %}</h1>
                
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">{% if is_editing %}Enregistrer les modifications{% else %}Publier la fiche de poste{% endif %}</button>
                        
                        <!-- AMÉLIORATION : Ajout d'un bouton "Annuler" -->
                        <!-- CORRIGÉ : 'job-list' est dans le namespace 'companies' -->
                        <a href="{% url 'companies:job-list' %}" class="btn btn-secondary ms-2">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
