{% extends 'base.html' %}


{% block title %}Inscription Réussie{% endblock %}


{% block content %}
<div class="container my-5 text-center">
    <div class="col-lg-7 mx-auto">
        <h1 class="display-5 fw-bold" style="color: var(--primary-violet);">Merci pour votre inscription !</h1>
        <p class="lead my-4">Votre compte entreprise a été créé avec succès. Notre équipe va maintenant examiner votre profil. Vous recevrez une notification par e-mail dès que votre compte sera approuvé et que vous pourrez publier des fiches de poste.</p>
        
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
