{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modifier l'Offre{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h2 class="card-title">Modifier l'Offre d'Emploi</h2>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-4 d-flex justify-content-between">
                        <a href="{% url 'companies:manage-offers' %}" class="btn btn-secondary">Annuler</a>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
